[Unit]
Description=Script to start FlatMan REST API server

[Service]
Type=simple
Restart=always
RestartSec=5s
User=root
Environment=GIN_MODE=release
WorkingDirectory=/opt/flatman
ExecStart=/opt/flatman/flatman

[Install]
WantedBy=multi-user.target
